<div class="row">
    <div class="col-10">
      <h2>
          AGREGAR PRODUCTOS AL PEDIDO <%= @pedido.codigo %> 
      </h2>    
    </div>
    <div class="col-2 text-end">
      <%= link_to "Cancelar", admin_editar_pedido_path(@pedido), class: 'btn btn-secondary' %>
    </div>
</div>
<br>
<div class="row">
  <table class="table">
    <thead>
    </thead>
    <tbody>
      <% @todos_los_productos.each  do |producto| %>  
        <tr>
          <td><%= image_tag producto.imagenes.first, class: 'card-img-top', style: "height: 10rem; width:10rem;" %></td>
          <td> <%= producto.nombre %></td>
          <td><%= producto.precio.to_s[0..-3] %> CLP</span></td>
          <td><%= link_to admin_guardar_producto_pedido_path(@pedido, producto), method: :post do %>
            <i class="bi bi-plus"></i>Agregar
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>




